src/main/mule/gpr-offerprice-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="gpr-offerprice-papi-config" api="resource::df1d60f5-cf70-470f-8bc0-85a92cc0ffa6:gpr-offerprice-sapi:1.0.14:raml:zip:gpr-offerprice-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d80ea5be-6b0b-4d4d-b449-49302c1314da">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="gpr-offerprice-papi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="gpr-offerprice-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="gpr-offerprice-papi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="gpr-offerprice-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\offerPrice:application\json:gpr-offerprice-papi-config">
        <flow-ref doc:name="Flow Reference" doc:id="5f23a15e-f86b-4f8d-8176-6cf29a8678b0" name="offerPricePUTvalidation" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "0",
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\offerPrice:gpr-offerprice-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  IDOC: {
    "@BEGIN": "1",
    EDI_DC40: {
      "@SEGMENT": "1",
      TABNAM: "EDI_DC40",
      MANDT: "400",
      DOCNUM: "0000000000981189",
      DOCREL: "755",
      STATUS: "30",
      DIRECT: "1",
      OUTMOD: "2",
      IDOCTYP: "WPDBBY01",
      CIMTYP: "ZWPDBB01",
      MESTYP: "WPDBBY",
      SNDPOR: "SAPPS4",
      SNDPRT: "LS",
      SNDPRN: "PRDCLNT400",
      RCVPOR: "CPI_WPDBBY",
      RCVPRT: "KU",
      RCVPRN: "FO05",
      CREDAT: "20250327",
      CRETIM: "084846",
      SERIAL: "20250327084846"
    },
    E1WPBB01: {
      "@SEGMENT": "1",
      FILIALE: "FO05",
      BBY_NR: "110000003274",
      AV_DATE: "20250327",
      CH_DATE: "00000000",
      CATEG: "C",
      POINT: "M",
      REQ_NR: "000",
      AENDKENNZ: "MODI",
      E1WPBB02: [
        {
          "@SEGMENT": "1",
          MAT_NR: "000000000010015243",
          MAT_EAN: "7502281120918",
          MAT_NR_LONG: "000000000010015243",
          Z1WPBB02: {
            "@SEGMENT": "1",
            COND_TYPE: "BB01",
            BBY_TYPE: "P",
            KOND_PER: "0.000",
            KOND_VAL: "5.78",
            KOND_CURCY: "PAB"
          }
        }, 
        {
          "@SEGMENT": "1",
          MAT_NR: "000000000010015244",
          MAT_EAN: "7502002872447",
          MAT_NR_LONG: "000000000010015244",
          Z1WPBB02: {
            "@SEGMENT": "1",
            COND_TYPE: "BB01",
            BBY_TYPE: "P",
            KOND_PER: "0.000",
            KOND_VAL: "10.31",
            KOND_CURCY: "PAB"
          }
        }, 
        {
          "@SEGMENT": "1",
          MAT_NR: "000000000010015253",
          MAT_EAN: "7502002872478",
          MAT_NR_LONG: "000000000010015253",
          Z1WPBB02: {
            "@SEGMENT": "1",
            COND_TYPE: "BB01",
            BBY_TYPE: "P",
            KOND_PER: "0.000",
            KOND_VAL: "6.20",
            KOND_CURCY: "PAB"
          }
        }
      ],
      E1WPBB05: {
        "@SEGMENT": "1",
        COND_TYPE: "ZPVS",
        START_DATE: "20250327",
        END_DATE: "20250331",
        BBY_TYPE: "P",
        E1WPBB06: {
          "@SEGMENT": "1",
          KOND_SIGN: "-",
          KOND_PER: "0.000",
          KOND_VAL: "5.78",
          KOND_CURCY: "PAB",
          KOND_CURCY_ISO: "PAB",
          FG_MIN_QUAN: "0.000",
          FG_QUAN: "0.000",
          FG_ADD_QUAN: "0.000",
          CALC_RULE: "000",
          REQ_MIN: "0.00",
          REQ_MAX: "0.00"
        }
      },
      E1WPBB07: {
        "@SEGMENT": "1",
        LANGUAGE: "S",
        LANGUAGE_ISO: "ES",
        SHORT_TEXT: "FUERTE-VENTA SCANNER GANADOR"
      }
    }
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\offerPrice\(id):gpr-offerprice-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  PNETO2: 4.9
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\offerPrice:application\json:gpr-offerprice-papi-config">
        <flow-ref doc:name="Flow Reference" doc:id="11ab013a-86a7-4368-8ef7-e7f4591c8cdc" name="offerPricePUTvalidation" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "0",
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
